* {
    color: white;
}
body {
    background-color: black;
}
h2 {
    text-align: center;
}
i {
    color: white;
}
.card-header {
    background-color: #00ffff;
}
.card-text {
    height: auto;
}
.custom-bg-color {
    background-color: #00ffff ;
}
.footer {
    justify-content: space-around;
}
.text-white {
    color: white;
}
footer {
    justify-content: space-around;
}