* {
    color: white;
}
body {
    background-color: black;
}
h2 {
    text-align: center;
}
.card-body {
    background-color:black;
}
i {
    color: white;
}
.card-header {
    background-color: #00ffff;
}
.card-text {
    height: auto;
}
.custom-bg-color {
    background-color: #00ffff ;
}